/* ----------------------------------------------------------------

 == Table Of Content

	01 Basics
	02 Buttons
	03 Navbar
	04 Header
	05 Hero
	06 Intro
	07 Work
	08 Numbers
	09 Services
	10 Price
	11 Testimonials
	12 Team
	13 Blog
	14 Contact-Info
	15 Contact
	16 Footer
	17 Responsive
 

---------------------------------------------------------------- */
/* ----------------------------------------------------------------
     [ 01 Start Basics ]
-----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
}

body {
  color: #1c1b20;
  line-height: 1.3;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden !important;
}

p {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Khula', sans-serif;
  color: #7f7f7f;
  line-height: 2;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

span, a, a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.section-padding {
  padding: 120px 0;
}

.section-head {
  margin-bottom: 80px;
}
.section-head h4 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 15px;
  position: relative;
}
.section-head h4:after {
  content: '';
  width: 80px;
  height: 1px;
  background-color: #F51963;
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
}

.text-gradient {
  background: linear-gradient(45deg, #F51963 0%, #FBAE20 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-extra {
  font-weight: 700;
}

.sm-title {
  font-size: 13px;
  color: #F51963 !important;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 5px;
}

.bg-gray {
  background: #FAF9FF;
}

.o-hidden {
  overflow: hidden;
}

.position-re {
  position: relative;
}

.full-width {
  width: 100% !important;
}

.lg-line-height {
  line-height: 1.7;
}

.shadow-inset {
  box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.05) inset;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.no-cover {
  background-repeat: repeat;
  background-size: auto;
}

.bg-fixed {
  background-attachment: fixed;
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 15px;
  line-height: .7;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 0 7px;
  border-radius: 50%;
  background: #ddd;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #F51963;
}

.owl-carousel:hover .owl-nav .owl-next {
  right: 0;
  opacity: 1 !important;
}
.owl-carousel:hover .owl-nav .owl-prev {
  left: 0;
  opacity: 1 !important;
}

.owl-theme .owl-nav {
  margin: 0;
}

.owl-theme .owl-nav [class*=owl-] {
  position: absolute;
  top: 35%;
  color: #F51963;
  width: 35px;
  height: 35px;
  padding: 0;
  font-size: 20px;
  line-height: 40px;
  background: #fff;
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: all .4s;
  z-index: 4;
}

.owl-carousel .owl-nav .owl-next {
  right: -40px;
}

.owl-carousel .owl-nav .owl-prev {
  left: -40px;
}

/* ----------------------------------------------------------------
     [ End Basics ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 02 Start Buttons ]
-----------------------------------------------------------------*/
.butn {
  padding: 12px 40px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 30px;
  position: relative;
  z-index: 3;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: -15px 15px 20px rgba(0, 0, 0, 0.1);
  transition: all .4s;
  cursor: pointer;
  outline: none !important;
}
.butn span {
  position: relative;
  z-index: 2;
  transition-delay: 0s;
}
.butn:after {
  content: '';
  width: 0;
  height: 100%;
  background: transparent;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 0px;
  z-index: 1;
  opacity: .5;
  transition: all .4s;
}

.butn-bg {
  background: #F51963;
  border-color: #F51963;
}
.butn-bg:hover {
  border-color: #fff;
  background: transparent;
}
.butn-bg:hover:after {
  width: 100%;
  left: 0;
  opacity: 1;
}
.butn-bg:hover span {
  color: #F51963;
}
.butn-bg:after {
  background: #fff;
}
.butn-bg span {
  color: #fff;
}

.butn-light {
  background: transparent;
  border-color: #fff;
}
.butn-light:hover {
  border-color: #F51963;
}
.butn-light:hover:after {
  width: 100%;
  left: 0;
  opacity: 1;
}
.butn-light:hover span {
  color: #fff;
}
.butn-light:after {
  background: #F51963;
}

/* ----------------------------------------------------------------
     [ End Buttons ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 03 Start Navbar ]
-----------------------------------------------------------------*/
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 9;
  min-height: 80px;
}
.navbar .icon-bar {
  color: #fff;
}
.navbar .navbar-nav .nav-link {
  font-size: 13px;
  font-weight: 500;
  color: #eee;
  letter-spacing: .5px;
  margin: 15px 5px;
  transition: all .5s;
}
.navbar .navbar-nav .active {
  color: #F51963 !important;
}

.nav-scroll {
  background: #fff;
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
  padding: 0;
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  transition: transform .5s;
  transform: translateY(100px);
}
.nav-scroll .icon-bar {
  color: #222;
}
.nav-scroll .navbar-nav .nav-link {
  color: #222;
}
.nav-scroll .navbar-nav .logo {
  padding: 15px 0;
  color: #111;
}

.logo {
  padding: 15px 0;
  width: 100px;
}

/* ----------------------------------------------------------------
     [ End Navbar ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 04 Start Header ]
-----------------------------------------------------------------*/
.header {
  min-height: 100vh;
  overflow: hidden;
}
.header .caption .o-hidden {
  display: inline-block;
}
.header .caption h1 {
  font-size: 55px;
  font-weight: 500;
  animation-delay: .6s;
}
.header .caption p {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  color: #eee;
  padding: 0 30px;
  letter-spacing: 1px;
  word-spacing: 2px;
  animation-delay: 1s;
}
.header .caption p span {
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0 5px;
  padding-right: 14px;
  position: relative;
}
.header .caption p span:last-child {
  padding: 0;
}
.header .caption p span:last-child:after {
  display: none;
}
.header .caption p span:after {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #F51963;
  position: absolute;
  top: 10px;
  right: 0;
  opacity: .5;
}
.header .caption .butn {
  animation-delay: 1.2s;
}

.slider .owl-item, .slider-fade .owl-item {
  height: 100vh;
  position: relative;
}
.slider .item, .slider-fade .item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.slider .item .caption, .slider-fade .item .caption {
  z-index: 9;
}
.slider .owl-theme .owl-dots, .slider-fade .owl-theme .owl-dots {
  position: absolute;
  bottom: 5vh;
  width: 100%;
}

.creative {
  min-height: 105vh;
}
.creative .svg {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  z-index: 2;
}
.creative .svg svg {
  fill: #fff;
  width: 101%;
}

.wave:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -5%;
  width: 110%;
  height: 100px;
  background-image: url(../img/wave.svg);
  background-size: cover;
  z-index: 7;
}

.bg-vid {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* ----------------------------------------------------------------
     [ End Header ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 05 Start Hero ]
-----------------------------------------------------------------*/
.hero .item {
  padding: 50px 30px;
  background: #fff;
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all .4s;
}
.hero .item:hover {
  margin-top: -5px;
}
.hero .item:hover .icon {
  background: #F51963;
  color: #fff;
  background: linear-gradient(45deg, #F51963 0%, #FBAE20 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero .item .icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  margin-bottom: 50px;
  color: #F51963;
  transition: all .4s;
}
.hero .item h6 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}
.hero .item h6:after {
  content: '';
  width: 70px;
  height: 1px;
  background: #F51963;
  position: absolute;
  bottom: 0;
  left: calc(50% - 35px);
}

.about .hello h5 {
  font-weight: 300;
  margin-bottom: 10px;
}
.about .hello h3 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.about .hello h3:after {
  content: '';
  width: 70px;
  height: 1px;
  background: #F51963;
  position: absolute;
  bottom: 0;
  left: calc(50% - 35px);
}
.about .hello p {
  width: 90%;
  margin: auto;
}
.about .item .icon {
  font-size: 35px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  border: 1px dashed #ddd;
  margin-bottom: 30px;
  transition: all .4s;
}
.about .item .icon:hover {
  background: #F51963;
  color: #fff;
  border-color: .about .item .icon:hover main-color;
  border-style: solid;
  -webkit-text-fill-color: inherit;
}
.about .item h6 {
  margin-bottom: 15px;
}

/* ----------------------------------------------------------------
     [ End Hero ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 06 intro ]
-----------------------------------------------------------------*/
.intro .vimg {
  position: relative;
  margin-top: -170px;
  padding-right: 50px;
}
.intro .vimg img {
  border: 10px solid #fff;
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
}
.intro .vimg .vid {
  padding: 15px 60px;
  background: #fff;
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 20px;
  bottom: 50px;
}
.intro .vimg .vid:after {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 20px solid #F51963;
  border-right: 20px solid transparent;
  position: absolute;
  bottom: 1px;
  left: 1px;
  opacity: .8;
}
.intro .vimg .vid span {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
.intro .vimg .vid .icon {
  color: #F51963;
  font-size: 25px;
  position: absolute;
  right: 15px;
  top: 12px;
}
.intro .content h2 {
  margin-bottom: 15px;
  font-weight: 600;
}
.intro .skills h5 {
  font-size: 14px;
  margin-bottom: 10px;
}
.intro .skills h5 span {
  float: right;
  font-size: 12px;
}
.intro .skills .skill-progress {
  width: 100%;
  height: 12px;
  border-radius: 30px;
  border: 1px solid #eee;
  padding: 2px;
  background: #f7f7f7;
  position: relative;
}
.intro .skills .progres {
  position: absolute;
  left: 1px;
  top: 1px;
  height: 8px;
  width: 10%;
  border-radius: 30px;
  background: linear-gradient(45deg, #F51963 0%, #FBAE20 100%);
  transition: all 1.5s;
}

.why-us .img {
  border-radius: 5px;
  overflow: hidden;
}
.why-us .content {
  border-radius: 5px;
  padding: 80px 50px;
  background: #fff;
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-left: -80px;
}
.why-us .content li {
  font-size: 15px;
  font-weight: 600;
  color: #777;
  margin-bottom: 15px;
}
.why-us .content li:last-child {
  margin-bottom: 0;
}
.why-us .content li i {
  font-size: 12px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  background: rgba(245, 25, 99, 0.05);
  color: #F51963;
}
.why-us .content li span {
  padding-left: 10px;
}

/* ----------------------------------------------------------------
     [ End intro ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 07 Start Services ]
-----------------------------------------------------------------*/
.services.bg-img .tabs-icon .item {
  padding: 25px 5px;
  background: rgba(100, 100, 100, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.services.bg-img .tabs-icon .item .icon {
  font-size: 30px;
  margin-bottom: 15px;
  color: #F51963;
}
.services.bg-img .tabs-icon .item h6 {
  font-size: 16px;
}
.services.bg-img .tabs-icon .item span {
  color: #F51963;
}
.services.bg-img .tabs-icon .owl-carousel .owl-nav span {
  color: #F51963;
}
.services .owl-carousel .owl-stage-outer {
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.services .tabs-icon .item {
  padding: 25px 5px;
  background: #fff;
  border-right: 1px solid #f7f7f7;
  cursor: pointer;
}
.services .tabs-icon .item .icon {
  font-size: 30px;
  margin-bottom: 15px;
  color: #F51963;
}
.services .tabs-icon .item h6 {
  font-size: 16px;
}
.services .tabs-icon .owl-item.actived .item, .services .tabs-icon .item.active {
  color: #fff;
  position: relative;
  background: #F51963;
}
.services .tabs-icon .owl-item.actived .item .icon, .services .tabs-icon .item.active .icon {
  color: #fff;
}
.services .services-content .cont {
  display: none;
}
.services .services-content .cont .services-info {
  text-align: right;
}
.services .services-content .cont h5 {
  font-size: 18px;
  color: #F51963;
  margin-bottom: 10px;
}
.services .services-content .cont h3 {
  line-height: 1.4;
}
.services .services-content .active {
  display: block;
}

/* ----------------------------------------------------------------
     [ End Services ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 08 Start Numbers ]
-----------------------------------------------------------------*/
.numbers {
  padding: 80px 0;
}
.numbers .icon {
  font-size: 35px;
  color: #F51963;
  margin-bottom: 30px;
}
.numbers h4 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
.numbers h6 {
  font-weight: 300;
}

/* ----------------------------------------------------------------
     [ End Numbers ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 09 Start Works ]
-----------------------------------------------------------------*/
.works .filtering span {
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 30px;
  cursor: pointer;
}
.works .filtering .active {
  background: #F51963;
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.works .item-img {
  position: relative;
  margin-top: 30px;
}
.works .item-img:hover .item-img-overlay {
  opacity: 1;
}
.works .item-img-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: rgba(245, 25, 99, 0.8);
  opacity: 0;
  transition: all .5s;
}
.works .item-img-overlay .icon {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #222;
  color: #fff;
  transition: all .5s;
}
.works .item-img-overlay .icon:hover {
  background: #fff;
  color: #F51963;
}
.works .item-img-overlay .icon:before {
  line-height: 2;
}
.works .item-img-overlay p {
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  padding-bottom: 15px;
  position: relative;
}
.works .item-img-overlay p:after {
  content: '';
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: calc(50% - 25px);
}
.works .item-img-overlay h6 {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 15px;
}

/* ----------------------------------------------------------------
     [ End Works ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 10 Start Features ]
-----------------------------------------------------------------*/
.features {
  position: relative;
}
.features:before {
  background: linear-gradient(45deg, #F51963 0%, #FBAE20 100%);
}
.features .shape {
  width: 102%;
  height: 100px;
  background-image: url(../img/wave.svg);
  background-size: cover;
  position: absolute;
  left: -1%;
  bottom: -1px;
  z-index: 2;
}
.features .cont h6 {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features .cont h2 {
  margin-bottom: 30px;
  font-weight: 600;
}
.features .cont p {
  color: #eee;
}
.features .cont .butn {
  margin: 30px 0 0;
}
.features .cont .butn span {
  color: inherit;
}
.features .item {
  position: relative;
  background: #fff;
  text-align: center;
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 50px 15px;
  z-index: 7;
}
.features .item .icon {
  color: #F51963;
  margin-bottom: 30px;
  font-size: 30px;
}
.features .item h6 {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
  color: inherit;
}
.features .item p {
  color: #777;
  font-size: 13px;
}
.features .mtsp {
  margin-top: -30px;
}

.grid-feat .item .icon {
  font-size: 60px;
  float: left;
}
.grid-feat .item h6, .grid-feat .item p {
  margin-left: 100px;
}
.grid-feat .item h6 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}
.grid-feat .item h6:after {
  content: '';
  width: 40px;
  height: 1px;
  background: #ccc;
  position: absolute;
  left: 0;
  bottom: 0;
}
.grid-feat .item p {
  font-size: 13px;
  font-weight: 400;
}

.morfet .item .icon {
  font-size: 40px;
}
.morfet .item h6, .morfet .item p {
  margin-left: 70px;
}
.morfet .item p {
  font-size: 14px;
}

/* ----------------------------------------------------------------
     [ End Features ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 11 Start Price ]
-----------------------------------------------------------------*/
.price .item {
  padding: 30px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.price .item .type {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  position: relative;
}
.price .item .type:after {
  content: '';
  width: 20px;
  height: 20px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #fff;
  position: absolute;
  bottom: -11px;
  left: calc(50% - 10px);
  transform: rotate(45deg);
}
.price .item .type h6 {
  font-size: 20px;
  font-weight: 500;
}
.price .item .price {
  margin: 30px 0;
}
.price .item .price h4 {
  font-size: 55px;
}
.price .item .price h4 span {
  font-size: 15px;
}
.price .item .price p {
  font-size: 13px;
  margin-top: 5px;
  color: #F51963;
}
.price .item .feat ul {
  margin-bottom: 0;
}
.price .item .feat li {
  margin-bottom: 15px;
}
.price .item .feat li:last-child {
  margin-bottom: 0;
}
.price .item .feat li .true {
  color: #3ff312;
}
.price .item .feat li .false {
  color: #ec126d;
}
.price .item .feat i {
  float: right;
  font-size: 11px;
}
.price .item .order {
  margin-top: 30px;
}
.price .item .order .butn {
  border-color: #F51963 !important;
}
.price .item .order .butn span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.price .item.center {
  position: relative;
  padding-top: 50px;
  margin-top: -10px;
}
.price .item.center .popular {
  position: absolute;
  width: 80%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background: linear-gradient(45deg, #F51963 0%, #FBAE20 100%);
  color: #fff;
  top: -20px;
  left: 10%;
}
.price .item.center .popular:after, .price .item.center .popular:before {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 40px solid #fff;
  position: absolute;
  top: 1px;
}
.price .item.center .popular:after {
  border-left: 20px solid transparent;
  right: -1px;
}
.price .item.center .popular:before {
  border-right: 20px solid transparent;
  left: -1px;
}
.price .item.center .popular span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.price .item.center .popular span:after, .price .item.center .popular span:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: .7;
}
.price .item.center .popular span:after {
  border-bottom: 20px solid #d6961e;
  border-left: 11px solid transparent;
  right: 0;
}
.price .item.center .popular span:before {
  border-bottom: 20px solid #c00f4a;
  border-right: 11px solid transparent;
  left: 0;
}

/* ----------------------------------------------------------------
     [ End Price ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 12 Start Testimonials ]
-----------------------------------------------------------------*/
.testimonials .section-head {
  margin-bottom: 55px;
}
.testimonials .owl-carousel .owl-item {
  padding: 25px 25px 0;
}
.testimonials .item .client-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.testimonials .item h6 {
  font-size: 14px;
  letter-spacing: 1px;
  margin: 60px 0 10px 80px;
}
.testimonials .item h5 {
  font-size: 12px;
  font-weight: 500;
  margin-left: 80px;
  color: #777;
}
.testimonials .item p {
  padding: 50px 30px;
  font-size: 14px;
  background: #fff;
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  position: relative;
}
.testimonials .item p .icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
  color: #F51963;
  font-size: 18px;
  position: absolute;
  bottom: -25px;
  left: 25px;
}

/* ----------------------------------------------------------------
     [ End Testimonials ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 13 Start Team ]
-----------------------------------------------------------------*/
.team .item {
  padding-bottom: 17px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.team .item:after {
  content: '';
  width: 100%;
  height: 2px;
  background: linear-gradient(45deg, #F51963 0%, #FBAE20 100%);
  position: absolute;
  left: 0;
  bottom: 0;
}
.team .item .team-img {
  margin-bottom: 15px;
  position: relative;
}
.team .item .team-img:hover .info {
  opacity: .9;
}
.team .item .team-img .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #F51963 0%, #FBAE20 100%);
  opacity: 0;
  transition: all .4s;
}
.team .item .team-img .info .icon {
  color: #fff;
  margin: 0 10px;
}
.team .item h6 {
  font-size: 16px;
  margin-bottom: 10px;
}
.team .item span {
  color: #777;
  font-size: 13px;
}

/* ----------------------------------------------------------------
     [ End Team ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 14 Start Blog ]
-----------------------------------------------------------------*/
.blog .item .post-img .img {
  overflow: hidden;
}
.blog .item .post-img:hover img {
  transform: scale(1.1, 1.1);
}
.blog .item .post-img img {
  transition: all .5s;
}
.blog .item .cont {
  position: relative;
  padding: 50px 30px 70px;
  background: #fff;
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
  width: 94%;
  margin-left: 3%;
  margin-top: -30px;
}
.blog .item .date {
  color: #999;
  font-size: 10px;
  letter-spacing: 4px;
}
.blog .item .date span {
  font-size: 50px;
  font-weight: 800;
  padding-right: 15px;
  color: #F51963;
  position: relative;
}
.blog .item .date span:after {
  content: '';
  width: 30px;
  height: 1px;
  background: #eee;
  position: absolute;
  right: 0;
  bottom: 30%;
}
.blog .item .info {
  margin-top: 10px;
}
.blog .item .info a {
  color: #999;
  font-size: 12px;
  margin: 0 5px 5px;
}
.blog .item .info .icon {
  color: #F51963;
  padding-right: 5px;
}
.blog .item h6 {
  color: #575454;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
  margin-bottom: 15px;
}
.blog .item .butn {
  position: absolute;
  bottom: -15px;
  right: 30px;
  background-color: #fff;
}
.blog .item .butn span {
  color: #F51963;
}
.blog .item .butn:hover span {
  color: #fff;
}

/* ----------------------------------------------------------------
     [ End Blog ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 15 Start Contact ]
-----------------------------------------------------------------*/
.contact .form input, .contact .form textarea {
  font-size: 12px;
  width: 100%;
  padding: 15px;
  background: #FAF9FF;
  border: 0;
}
.contact .form textarea {
  height: 180px;
  max-height: 180px;
  max-width: 100%;
}
.contact .form .form-group {
  position: relative;
}
.contact .form .help-block li {
  color: #ce7373;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* ----------------------------------------------------------------
     [ End Contact ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 16 Start Contact-Info ]
-----------------------------------------------------------------*/
.contact-info .info {
  padding: 100px 5%;
  position: relative;
  z-index: 3;
}
.contact-info .info .about {
  margin-bottom: 50px;
}
.contact-info .info .about h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}
.contact-info .info .item {
  margin-bottom: 30px;
}
.contact-info .info .item .icon {
  float: left;
  font-size: 20px;
  color: #F51963;
}
.contact-info .info .item .cont {
  margin-left: 40px;
}
.contact-info .info .item .cont p {
  display: inline-block;
  font-size: 14px;
}
.contact-info .info .social a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  color: #fff;
  background: rgba(200, 200, 200, 0.1);
  font-size: 15px;
  margin: 0 5px;
  text-align: center;
}
.contact-info .info .social a:hover {
  background: #F51963;
}
.contact-info .map {
  position: relative;
}
.contact-info .map #ieatmaps {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ----------------------------------------------------------------
     [ End Contact-Info ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 17 Start Footer ]
-----------------------------------------------------------------*/
footer {
  padding: 50px 0;
}
footer .social a {
  color: #fff;
  font-size: 13px;
  width: 35px;
  height: 35px;
  line-height: 40px;
  border-radius: 50%;
  background: #222;
  margin: 15px 5px;
}
footer .social a:hover {
  background: #F51963;
}
footer p {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* ----------------------------------------------------------------
     [ End Footer ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
 	 [ 18 Responsive ]
-----------------------------------------------------------------*/
@media screen and (max-width: 991px) {
  .mb-md50 {
    margin-bottom: 50px;
  }

  .mb-md30 {
    margin-bottom: 30px;
  }

  .mb-md0 {
    margin-bottom: 0;
  }

  .bgimg-height {
    height: 400px;
  }

  .bg-fixed {
    background-attachment: scroll !important;
  }

  .navbar {
    padding-left: 15px;
  }
  .navbar .navbar-collapse {
    max-height: 340px;
    overflow: auto;
    background: #111;
    text-align: center;
    padding: 10px 0;
  }
  .navbar .nav-link {
    margin: 10px auto !important;
  }

  .nav-scroll .navbar-collapse .nav-link {
    color: #fff !important;
  }
  .nav-scroll .navbar-collapse .active {
    color: #F51963 !important;
  }

  .header {
    background-attachment: scroll !important;
    background-position: 50% 0% !important;
  }
  .header .caption h4 {
    font-size: 30px;
  }
  .header .caption h1 {
    font-size: 45px;
    line-height: 1.4;
  }

  .intro .vimg {
    padding: 0;
    margin-top: 0;
  }

  .grid-feat .item .icon {
    font-size: 40px;
  }

  .grid-feat .item h6,
  .grid-feat .item p {
    margin-left: 70px;
  }

  .why-us .content {
    margin: 0;
  }

  .ready .title-extra {
    font-size: 25px;
    letter-spacing: 1px;
  }

  .features .mtsp {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .mb-sm50 {
    margin-bottom: 50px;
  }

  .mb-sm30 {
    margin-bottom: 30px;
  }

  .why-us .content h2,
  .intro .content h2 {
    font-size: 25px;
  }

  .bgimg-height-sm {
    height: 400px;
  }

  .header .caption h1 {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .header .caption p {
    font-size: 14px;
    padding: 0;
  }

  .services .services-content .cont .services-info {
    text-align: left;
    margin-bottom: 30px;
  }

  .title-extra {
    font-weight: 600;
  }
}
@media screen and (max-width: 480px) {
  .header .caption h1 {
    font-size: 18px;
  }

  .works .filtering span {
    margin-bottom: 10px;
    padding: 8px 15px;
  }

  .features .cont h2 {
    font-size: 35px;
  }

  .grid-feat .item h6 {
    line-height: 1.5;
  }

  .why-us .content li i {
    display: none;
  }

  .why-us .content li span {
    padding: 0;
    line-height: 1.5;
  }
}

/*# sourceMappingURL=style.css.map */
